/node_modules
/public/hot
/public/storage
/public/css/app.css*
/public/js/app.js*
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
phpunit.dusk.xml
npm-debug.log
yarn-error.log
/.backup
/.idea
/.vagrant
/.vscode
