ip: 192.168.10.10 # コメントアウトするとDHCPが有効となる
#ip: autonetwork # IPの自動割当 vagrant-auto_networkプラグインが必要
memory: 2048
cpus: 2
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: ./
        to: /home/vagrant/code
        php: "8.0"
sites:
    -
        map: homestead.test
        to: /home/vagrant/code/public
databases:
    - homestead
    - homestead_testing
features:
    -
        mysql: true
    -
        mariadb: false
    -
        postgresql: false
    -
        ohmyzsh: false
    -
        webdriver: true
services:
    -
        enabled: [mysql]
name: grouptube-biz
hostname: grouptube-biz

# vagrant destroy時のDBバックアップを有効化
backup: true
