@import '~vuetify/src/styles/settings/_variables';

// ------------------------------------------------------------
//  VuetifyコンポーネントCSSのオーバーライド
// ------------------------------------------------------------

// PCビューのみフォントサイズを大きくする
html {
  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    font-size: 17px !important;
  }
}

// フォントカラーを薄く表示する
// カードテキスト
.v-card__text,
// リストタイトル
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* ページ内タイトルの色・スペーシング・フォントサイズ設定 */
.v-card__title {
  background-color: #3f88b7;
  color: #ffffff;
  padding-top: 8px !important;
  padding-bottom: 8px !important;;
  margin-bottom: 16px; /* = mb-4 */
  font-size: 1rem !important;;
}

// .v-list-itemの最小高さを48pxから36pxに変更しサイト全体で行間を詰める
.v-list-item {
  min-height: 36px !important;
}

/* プロパディで指定出来ないダイアログの角丸を無効化を設定 */
.v-dialog {
  border-radius: unset !important;
}

// パジネーションの枠表示を削除
.v-pagination__item,
.v-pagination__navigation {
  box-shadow: none !important;
}

// v-input-field filledの背景色を変更
.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: rgba(0, 0, 0, 0.035) !important;
}

// ------------------------------------------------------------
// VuetifyコンポーネントへのCSS追加
// ------------------------------------------------------------

// ラジオボタンのラベルフォントを小さくする v-label-groupに設定
.small-label .v-label {
  font-size: 0.85em;
}

// v-colに長い単語が含まれていた場合にボックスを拡張せず折り返す
.row div[class^="col"] {
  overflow-wrap: anywhere;
}

// ------------------------------------------------------------
// レイアウト
// ------------------------------------------------------------

/* 会社詳細画面の情報リストの行間を詰める */
.client-show > .row {
  margin-top: 0 !important;
}

// 説明リスト・フォーム
// PCビューでは2カラム、スマートフォンビューでは1カラムで表示される
.description-list,
.description-form {
  > .row {
    // 見出し
    > div:first-child {
      font-weight: bold;

      // PCビュー
      @media #{map-get($display-breakpoints, 'sm-and-up')} {
        // 左カラムの最大幅を制限
        max-width: 200px;
      }

      // スマートフォンビュー
      @media #{map-get($display-breakpoints, 'xs-only')} {
        // 見出しと説明の間を詰める
        padding-bottom: 0;
      }
    }
  }
}

// 説明リストのみ
.description-list {
  > .row {
    // 項目間にボーダーを設定
    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
  }
}

// 説明リストフォームのみ
.description-form {
  > .row div[class^="col"] {
    // 項目間ボーダーが無いため下部マージンを詰める
    padding-bottom: 0;
  }
}

// ToDoリスト
.dense-list {
  // .text-body-2相当のフォントサイズを設定
  font-size: 0.875rem !important;
  line-height: 1.25rem;
}

// 日報・議事録2カラムレイアウト
.report-description-list {
  > .row {
    > div:first-child {
      // 2かカラムのPCビューでは左カラムの最大幅を制限
      @media #{map-get($display-breakpoints, 'sm-and-up')} {
        max-width: 300px;
      }
    }
  }
}